body {
  background-image: url("background-cinema.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*************Search********/
input {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 1em Hind, sans-serif;
  line-height: 1.5em;
  color: #171717;
}

.search-bar {
  display: flex;
}

#search_input {
  margin-top: 8px;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.25s ease-out;
}

.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}

.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}

.search-bar,
.search-bar input:focus,
.search-bar input:valid {
  width: 100%;
}

.search-bar input:focus,
.search-bar input:not(:focus)+.search-btn:focus {
  outline: transparent;
}

.search-bar {
  display: flex;
  margin: auto;
  padding: auto;
  justify-content: center;
  max-width: 30em;
}

.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #171717 inset;
  padding: 0.75em;
  transform: translate(0.5em, 0.5em) scale(0.5);
  transform-origin: 100% 0;
}


.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}

.search-btn {
  background: #171717;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
  transform-origin: 0 50%;
}

.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}

.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}

.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em, 0) rotate(45deg);
  transform-origin: 0 50%;
}

.span_search {
  display: flex;
  margin-top: 10px;
  color: #171717;
  font-weight: bold;
  font-size: 20px;
}

.search-bar input:focus+.search-btn,
.search-bar input:valid+.search-btn {
  background: #2762f3;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}

.search-bar input:focus+.search-btn:before,
.search-bar input:focus+.search-btn:after,
.search-bar input:valid+.search-btn:before,
.search-bar input:valid+.search-btn:after {
  opacity: 1;
}

.search-bar input:focus+.search-btn:hover,
.search-bar input:valid+.search-btn:hover,
.search-bar input:valid:not(:focus)+.search-btn:focus {
  background: #bdccf5;
}

button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.alert {
  display: flex;
  justify-content: center;
  max-width: 300px;
  height: auto;
  margin: auto;
  margin-top: 10px;
}

.film-title {
  text-align: center;
  font-size: 16;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  text-shadow: 0 1px 2px rgba(black, .15);
}

/******************* CARD ****************/
#cardg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100%;
  height: 100%;
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
}

.card {
  position: relative;
  margin: 10px;
  border-radius: 10px;
  border: solid #ccc 5px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-body {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, .7);
  width: 100%;
  height: 100%;
  transition: all .7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}

.card:hover .card-body {
  left: 0px;
  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}

.card:hover {
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
  transform: scale(.97);
}

.card:hover img {
  transition: all .4s cubic-bezier(.8, .5, .2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}

.card .synopsis {
  overflow-y: scroll;
  line-height: 24px;
  height: 70%;
  color: black;
}

.card button:hover {
  transform: scale(.95) translateX(-5px);
  transition: all .5s ease-in-out;
}

button {
  width: fit-content;
  height: 30px;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
  transition: all .5s ease-in-out;
}

button:hover {
  background: #ccc;
}

.btn_T {
  background-color: #ff3838;
}

.btn_D {
  background-color: rgb(69, 114, 196);
}

.btnT .btn_D i {
  font-size: 20px;
}

/**************MediaQueries************/
@media screen and (max-width: 600px) {}