body {
  background-image: url("background-cinema.jpg");
  background-size: cover;
  background-repeat: no-repeat;


}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #ccc;
}


.film-details {
  float: left;
  width: 80%;
  padding-left: 0.5em;
  box-sizing: border-box;
}

.film-title {
  text-align: center;
  font-size: 16;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 2px rgba(black, .15);
}

.centre {
  margin-left: 150px;
 
}

.zoom img {
  transition: transform .3s;
  /* Animation */
}

.zoom:hover {
  transform: scale(1.05);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card:hover {
  top: -10px;
  box-shadow: 0 14px 28px rgba(191, 234, 245, 0.25), 0 10px 10px rgba(245, 240, 240, 0.22);
}

.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

img:hover {
  transition: 0.2s all ease-out;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }

  .topnav a,
  .topnav input[type=text],
  .topnav .search-container button {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}